In [1]:
import sys
sys.path.append("..")

In [5]:
import numpy as np
import pandas as pd

from re import sub

from src.utils.tag_topic import TopicPriorityTag
from src.utils.clean_comments import CommentCleaner

import gspread as gs
import os

In [6]:
from src.utils.tag_topic import TopicPriorityTag
from src.utils.clean_comments import CommentCleaner

In [7]:
gc = gs.service_account(filename='../creds/service_account.json')

In [20]:
sheets_url= 'https://docs.google.com/spreadsheets/d/1chiatozuGjEau08fr_c1qAHzysPa0ubRoJknqoZaEIs'

In [50]:
sh = gc.open_by_url(sheets_url)
ws = sh.worksheet('Responses')
table_df = pd.DataFrame(ws.get_all_records())

In [55]:
# update only new entries
table_df = table_df[table_df['Priority']=='a']
table_df

Empty DataFrame
Columns: [Timestamp, User ID, FB Name, Sender Name, On Behalf Of, Overseas Post, Local Address, Concern, Short Text, Category, Priority]
Index: []

In [56]:
len(table_df)

0

In [52]:
cleaner = CommentCleaner()
tagger = TopicPriorityTag()

In [54]:
table_df['Short Text'] = table_df['Concern'].apply(lambda x: cleaner.clean_comment(x))
table_df['Category'] = table_df['Short Text'].apply(lambda x: tagger.tag_topic_category(x))
table_df['Priority'] = table_df['Category'].apply(lambda x: tagger.tag_topic_priority(x))
table_df['Category'] = table_df['Category'].apply(lambda x: '; '.join(x))
table_df

,Timestamp,User ID,FB Name,Sender Name,On Behalf Of,Overseas Post,Local Address,Concern,Short Text,Category,Priority
12,2022-09-28 8:57:43,5404147766343609,JC Peralta,Juan dela Cruz,Singapore,"QC, Philippines",,Hello sir pwede po ba magtanong kung paano mag...,apply owwa scholarship,Scholarship,2

In [49]:
for i in table_df.index:
    # Short Text : G
    ws.update("G%d" % (i+2), table_df['Short Text'].values[i])
    #Category : H
    ws.update("H%d" % (i+2), table_df['Category'].values[i])
    #Priority : I
    ws.update("I%d" % (i+2), str(table_df['Priority'].values[i]))